* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* Shared Button Styles */
.btn-primary,
.btn-secondary {
  font-size: 14px;
  padding: 12px 48px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* Different Button Colors */
.btn-primary {
  color: white;
  background: #3457b1;
}

.btn-primary:hover {
  background: #24469d;
}

.btn-secondary {
  color: black;
  background: white;
}
.btn-secondary:hover {
  background: whitesmoke;
}

/* All big headers  */
main h3,
section h3 {
  color: white;
  font-size: 48px;
}

/* All paragraphs */
main p,
section p {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

/* NAVIGATION */
header {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 32px;
  height: 56px;

  /* make nav look good even on big screens */
  max-width: 1400px;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 8px;
  cursor: pointer;
}

/* Middle menu with a background hover  */

.mid-menu-container,
.icon-menu {
  display: flex;
  gap: 8px;
  list-style: none;
}

.mid-menu-container li {
  position: relative;
}

.mid-menu-container a,
.icon-menu a {
  border-radius: 4px;
}

.mid-menu-container a {
  font-size: 14px;
  text-decoration: none;
  color: #171a20;
  font-weight: 500;
  padding: 6px 12px;
  transition: background-color 0.3s ease;
}

.mid-menu-container a:hover,
.icon-menu a:hover {
  background: rgba(0, 0, 0, 0.05);
}

/*  Icon menu with a background hover  */

.icon-menu a {
  font-size: 18px;
  color: #171a20;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* HERO SECTION  */

.hero {
  /* main { Background image  */
  height: 650px;
  background: url(./media/Tesla-hero-2.avif) center/ cover no-repeat;

  /* Flexbox flow */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 92px;
}

/* Hero Item Styles */
.hero h3 {
  margin: 10px;
}
.hero p {
  margin-bottom: 20px;
}

.hero-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 80px;
}

/*CAROUSEL */
.carousel {
  margin: 40px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}

.card {
  height: 580px;
  width: 1024px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border-radius: 10px;
  padding: 40px;
}

/* Card Spacing */
.card h3 {
  margin-bottom: 4px;
}
.card h3 + p {
  margin-top: -5px;
  margin-bottom: 15px;
}
.card-btns {
  display: flex;
  gap: 10px;
}

/* Individual Card Images */
.card-1 {
  background: url(./media/Model-Y.avif) center/cover no-repeat;
}
.card-2 {
  background: url(./media/Model-3.avif) center/cover no-repeat;
}
.card-3 {
  background: url(./media/Model_X.avif) center/cover no-repeat;
}
.card-4 {
  background: url(./media/Model_S.avif) center/cover no-repeat;
}

.card h5 {
  color: white;
  font-weight: 500;
}

/* FOOTER  */
footer ul {
  margin: 80px 30px 30px;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 14px;
}

footer a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(92, 94, 98);
}

/* Tablet and Smaller Screens*/
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 20px;
  }

  .mid-menu-container {
    gap: 4px;
  }

  .mid-menu-container a {
    font-size: 13px;
    padding: 6px 8px;
  }

  .carousel {
    margin: 20px;
  }

  .card {
    width: 800px;
  }
}
